<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Kuesty - Restaurants</title>

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
	<link type="text/css" rel="stylesheet" href="css/style.css">
    
</head>
<body>
	<div id="wrapper">
        <ul class="menu_aux">
            <li><a href="#">Login</a></li>
            <li><a href="signup.html">Sign Up</a></li>
        </ul>
        <div class="menu">
            <ul>
                <li>
                	<div class="izq"></div>
                    <a href="index.html">Home</a>
                	<div class="der"></div>
                    <br clear="all" />
				</li>
                <li class="activo">
                	<div class="izq"></div>
                	<a href="restaurants.html">Restaurants</a>
                    <div class="der"></div>
                    <br clear="all" />
                </li>
                <li>
	               	<div class="izq"></div>
                	<a href="mobile.html">Mobile</a>
                    <div class="der"></div>
                    <br clear="all" />
                </li>
                <li>
	               	<div class="izq"></div>
					<a href="contact.html">Contact</a>
                    <div class="der"></div>
                    <br clear="all" />
                </li>
            </ul>
        </div>    
        <div id="header">
	        <div class="banda"></div>
            <div class="logo"><a href="index.html"></a></div>
            <br clear="all" />
            <div class="menu_aux"></div>
            <div class="search">
            	<input type="text" class="text" value="search a restaurant" />
                <input type="button" class="btn" />
            </div>
        </div>
		<div id="contenido">
	        <div class="left">
            
                        
		        <div class="restaurants">
                	<div class="gallery">
                        <div class="visor">
                        	<img src="img_example/example_restauran_img.png" border="0" alt=""/>
                        </div>
                        <div class="thumbs">
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <a href="#">
                            	<img src="img_example/example_restauran_img_thumb.png" alt="" border="0" />
		                        <p>from <font>Leonard Cohen</font></p>
							</a>
                            <br clear="all" />
                        </div>
					</div>


                </div>
            </div>
            <br clear="all" />
        </div>
		<div id="footer">
	        <div class="info">
            	Kuesty 2011 © - Derechos Reservados
                <ul>
                    <li><a href="#">Términos y Condiciones</a> |&nbsp;</li> 
                    <li><a href="#">Powered by  Orugas Ideas</a> |&nbsp;</li>
                    <li><a href="#">FAQ</a> |&nbsp;</li>
                    <li><a href="#">Website by ZiRiS</a> |&nbsp;</li>
                </ul>
                <br clear="all" />
			</div>
        </div>
	</div>
</body>
</html>